<div class="componentUs container-fluid">
  <div class="componentGroup row">
    <div class="col-12">
      <span class="componentHeading">Get in Touch</span>
      <span class="componentMessage">We are here to assist you with any questions or concerns you may have.</span>
    </div>
  </div>
  <div class="kpiCardContainer row">
    <div class="col-md-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="location_on icon" fontIcon="location_on"></mat-icon>
        <span class = "kpiCardHeading">Our Location</span>
        <div class = "kpiCardBody">Bhubaneswar, <br>Odisha, India 751007</div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="call icon" fontIcon="call"></mat-icon>
        <span class = "kpiCardHeading">Call Us On</span>
        <div class = "kpiCardBody">
          <a href="tel:+917789001085" class = "phoneNumber">+ 91 77890 01085</a> <br>
          <a href="tel:+917789001085" class = "phoneNumber">+ 91 77890 01085</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="kpiCard container">
        <mat-icon aria-hidden="false" aria-label="email icon" fontIcon="email"></mat-icon>
        <span class = "kpiCardHeading">Email us</span>
        <div class = "kpiCardBody">
          <a href="mailto:example@example.com">sksoumitrakar&#64;gmail.com</a> <br>
          <a href="mailto:example@example.com">support&#64;octanet.in</a>
        </div>
      </div>
    </div>
  </div>
</div>
